@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;600;700&family=Noto+Sans+KR:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans KR", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Noto Serif KR", ui-serif, Georgia, serif;
  --color-gold-50: #FDFBF7;
  --color-gold-100: #F7F3EB;
  --color-gold-500: #B59A6D;
  --color-gold-600: #9B8259;
}
